.filepond--wrapper {
  margin: 10px 10px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0.5px solid rgba(151, 151, 151, 0.277);
  background-color: black;
  transition: all 0.2s ease-in-out;
}

.filepond--drop-label {
  background-color: black;
  /* border: 0.5px solid rgba(151, 151, 151, 0.577); */
}
