

.container {
    display: flex;
    justify-content: center;
    background-color: #0F1216;
    border-radius: 30px;
}


@media screen and (max-width: 425px) {
    .container {
        display: none;
    }
}