





.settingsContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 90vh;
    justify-content: center;
}

.settingsContainer .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: fit-content;


    
    border-radius: 30px;
}

.profileContainer .coverImg {
    height: 400px;
    width: 40vw;
    min-width: 500px;
    background-image: url('../img/cover.jpeg');
    background-size: cover;
    border-radius: 20px 20px 0 0;
}


.profileContainer .profileDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    min-width: 500px;

    height: auto;

    background-color: rgba(185, 185, 185, 0.202);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    margin-top: -210px;
}


.profileContainer .profileDetail .avatar {
    /* background-color: black;
    border-radius: 50%; */
    height: 150px;
    margin-top: -60px;
}

.profileContainer .profileDetail .userName {
    margin: 5px;
    font-size: 1.5rem;
    margin-top: -10px;
    font-weight: 600;
}

.profileContainer .profileDetail .bio {
    margin: 5px;
    width: 180px;
    text-align: center;
}

.profileContainer .profileDetail .stats {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-top: 10px;
}


.profileContainer .profileDetail .stats .followers p {
    margin: 0;
}



.profileContainer .profileDetail .stats .following p {
    margin: 0;
}


.profileContainer .profileDetail .buttons {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 10px;

    
}


.profileContainer .profileDetail .buttons button {
    padding: 8px 15px;
    background-color: white;
    border-radius: 10px;
    border: none;
    color: #1B90FF;
    font-size: 0.95rem;
    font-weight: 500;


    
}












@media screen and (max-width: 425px) {

    .settingsContainer {
        position: relative;
        z-index: 1;
        
        grid-template-columns: 1fr;
        margin-top: -100px;
        overflow: hidden;
    }

    .settingsContainer .profileContainer .profileDetail {
        width: 100vw;
    }

    .profileContainer .coverImg {
        height: 400px;
        width: 100vw;
    }

    .profileContainer .profileDetail .bio {
        width: 200px;
    }

}
