.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: 100vh;

  .footer {
    max-width: 70vw;
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
    font-size: .8rem;
    color: #d0d0d0;
    text-align: center;
  }
}
